body{
    font-family:....;
    font-size:....;
    line-height:...;
    padding: 0;
    Margin: 0;
    background-color: #cec3ba;

}

.header-container{
      width: 80%;
      margin: auto;
      overflow: hidden;
}